#{extends 'main.html' /}
#{set title:'Farewell!' /}

<div id="body">
	<h3>Subscription Canceled</h3>
	<hr/>
	<p>
		Your account has been successfully canceled.
	</p>
	<p>
		I would appreciate any time you would take to send me feedback on your
		experience with HN Notify.
	</p>
	<p>
		Please send any and all feedback to  
		<a href="mailto:hnnotify@thebuzzmedia.com">hnnotify@thebuzzmedia.com</a> or
		directly at <a href="mailto:riyad@thebuzzmedia.com">riyad@thebuzzmedia.com</a>
		if you prefer.
	</p>
</div>