#{extends 'main.html' /}
#{set title:'Email Reply Notifications for Hacker News' /}
#{set 'extScripts'}
	<script src="@{'/public/js/signup.js'}" type="text/javascript"></script>
#{/set}

<div id="body">
	<p id="prompt">
		Signup to get notifications when someone replies to you on HN.
	</p>
	#{form @Application.signup(), method:'POST', id:'signupForm'}
		<table id="signupTable" border="0" cellspacing="0" cellpadding="0">
			#{ifErrors}
			<thead>
				<tr>
					<td>
						<ul>
							#{errors}
						       <li>${error}</li>
						   #{/errors}
						</ul>
					</td>
				</tr>
			</thead>
			#{/ifErrors}
			<tbody>
				<tr>
					<td>
						<input id="email" name="email" type="text" size="32" value="${email}"/>
					</td>
				</tr>
				<tr>
					<td>
						<input id="username" name="username" type="text" size="22" value="${username}" />
						<input type="submit" value="Signup" />
					</td>
				</tr>
				<tr>
					<td align="center">
						<br/>
						Want to unsubscribe? Click #{a @Unsubscribe.index()}here#{/a}!
					</td>
				</tr>
			</tbody>
		</table>
	#{/form}
</div>