#{extends 'main.html' /}
#{set title:'Privacy Statement' /}

<div id="body">
	<h3>Privacy Statement</h3>
	<hr/>
	<p>
		HN Notify is a free service I am providing to the Hacker News community.
	</p>
	<p>
		HN is one of the few online communities I really enjoy participating in
		and <em>reply-notification</em> is something I have wanted to have for
		HN for years now.
	</p>
	<p>
		Your email address and HN username are stored in a local DB and used by
		the service to determine who gets notifications of new messages.
	</p>
	<p>
		That is it.
	</p>
	<p>
		I will not sell your email address or share it with any outside source.
	</p>
	<p>
		If you have any questions or feedback, you can reach me at 
		<a href="mailto:hnnotify@thebuzzmedia.com">hnnotify@thebuzzmedia.com</a> or
		directly at <a href="mailto:riyad@thebuzzmedia.com">riyad@thebuzzmedia.com</a>
		if you prefer.
	</p>
</div>