#{extends 'main.html' /}
#{set title:'Welcome!' /}

<div id="body">
	<h3>Signup Complete!</h3>
	<hr/>
	<p>
		Welcome to HN Notify, I hope you find this service helpful.
	</p>
	<h4>How does this work?</h4>
	<p class="note">
		Automatically.
		<br/><br/>
		As this service indexes new comments on HN, it will email you every time
		it finds someone replying to one of your comments or posts.
	</p>
	<p>
		You can unsubscribe or re-subscribe to HN Notify any time you wish; no
		account information is kept if you unsubscribe.
	</p>
	<p>
		If you have any questions or feedback, you can reach me at 
		<a href="mailto:hnnotify@thebuzzmedia.com">hnnotify@thebuzzmedia.com</a> or
		directly at <a href="mailto:riyad@thebuzzmedia.com">riyad@thebuzzmedia.com</a>
		if you prefer.
	</p>
</div>